body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

button {
  margin-left: 1vw;
  background-color: turquoise;
  border: 2px solid turquoise;
  border-radius: 10px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-decoration: none;
  padding: 15px 28px;
  cursor: pointer;
  float: left;
}

button:hover {
  color: grey;
}

.button-container {
  display: inline;
}

.container {
  text-align: center;
  margin-top: 5vh;
  /*left: 100px;
    top: 100px; */
}

.array-container {
  margin-top: 5vh;
  clear: both;
}

.array-bar {
  display: inline-block;
  margin: 0 1px;
}

a {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  float: left;
  margin-left: 1vw;
  /* position: absolute;
    left: 2vw; */
  border-radius: 10px;
  font-size: 20px;
}

#gh-link,
#back-button {
  background-color: black;
}

a:hover {
  color: grey;
}

.slider {
  width: 10vw;
  float: left;
  margin-left: 10vw;
}
