button {
    display: inline;
    margin: 0px 5px 20px;
    background-color: turquoise;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding: 15px 28px;
}

.button-container {
    display: block;
    margin: auto;
}

.container {
    text-align: center;
    margin-top: 10vh;
    /*left: 100px;
    top: 100px; */
  }

.array-bar {
    display: inline-block;
    margin: 0 1px;
  }

  a {
    text-decoration: none;
  }