button {
    display: block;
    margin: auto;
}
.container {
    text-align: center;
    margin-top: 10vh;
    /*left: 100px;
    top: 100px; */
  }

.array-bar {
    display: inline-block;
    margin: 0 1px;
  }